.homeContainer {
  color: black;
  position: relative;
  height: 70vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeInfo h3 {
  background: linear-gradient(
    180deg,
    hsla(178, 100%, 67%, 1) 3%,
    hsla(178, 100%, 75%, 1) 30%,
    hsla(0, 0%, 100%, 1) 48%,
    hsla(178, 100%, 75%, 1) 72%,
    hsla(182, 75%, 68%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeInfo {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.homeContainer img {
  animation-name: fadeInImg;
  animation-duration: 2s;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
    transform: translateX(100%) translateY(-100%);
  }
}

@media (max-width: 767px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}

@media (max-width: 960px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
