.aboutContainer {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 1.3rem;
  animation-name: aboutAnim;
  animation-duration: 2s;
  padding-bottom: 50px;
}

@keyframes aboutAnim {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.aboutContainer p {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  width: 70%;
}

.aboutContainer h1 {
  color: #58b85e;
  text-shadow: 0px 0px 15px #6eb47fd3;
}

@media (max-width: 767px) {
  .aboutContainer {
    height: auto;
    margin: auto;
  }
}
